@font-face {
    font-family: 'orbitron';
    font-weight: 500;
    src: url(./fonts/Orbitron-Medium.woff2),
         url(./fonts/Orbitron-Medium.woff);
}
@font-face {
    font-family: 'orbitron';
    font-weight: 900;
    src: url(./fonts/Orbitron-Black.woff2),
         url(./fonts/Orbitron-Black.woff);
}

* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #dfdfdf;
    /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
    display: flex;
    /* same with this*/
    flex-direction: column; 
    background-color: #130426;

    font-family: 'orbitron';
    font-weight: 500;
    font-size: 32px;
}

nav button {
    padding: 0 20px;
    border-radius: 50px;
    cursor: pointer;
    max-width: fit-content;
    height: 50px;
    /* remove button shading */
    border-style: solid;
    border-color: rgba(174,254,255,255);
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px 2px rgb(6, 145, 158);
    color: rgba(174,254,255,255);
    font-size: 20px;
    font-family: 'orbitron';
}

nav button:hover {
    box-shadow: 0px 0px 10px 5px rgb(6, 145, 158);


}

nav button:active {
    background-color: rgb(4, 42, 50);

}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* could add flex 0 0 auto so nav doesnt shrink */
    align-items: center;
}

.push-left{
    grid-area:1/2/2/3;
    z-index: 0; /*adding this fixed my hover on the resturant name not working has something to do with me putting .center and .pushleft in the same grid area*/
}

.center {
    display: flex;
    justify-content: center;
    gap: 10px;
    grid-area: 1/2/2/3;
    background-color: rgba(49,19,48,255);
    padding: 10px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* this makes the rest of the page grow to fill the window*/
    flex: 1 0 auto;

}

.page-content {
    grid-area: 1 /2/ 2/3;
    background-color: rgba(49,19,48,255);
    color: rgba(174,254,255,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    flex-shrink: 0;

}

.burger-image{
    width: 500px;
}

.welcome{
    font-size: 72px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 20px;
}

.card{
    max-width: 300px;
    height: 400px;
    overflow: 0; /* probably need to wrap the image below in another div so i can set that divs size and then let the img max-width take care of itself */
    flex-shrink: 0;
    border: 2px rgb(12, 1, 30) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgb(33, 0, 32);
    align-items: center;
    flex: 0 0 300px;
}
.card p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card img{
    max-width: 100%;
}
.card-image-container{
    justify-self: center;
    align-self: center;
    max-width: 250px;
    max-height: 250px;
}
.card button{
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    /* remove button shading */
    border-style: solid;
    border-color: rgba(174,254,255,255);
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px 2px rgb(6, 145, 158);
    color: rgba(174,254,255,255);
    font-size: 20px;
    font-family: 'orbitron';
    align-self: center;
    margin-top: auto;
}

.card button:hover {
    box-shadow: 0px 0px 10px 5px rgb(6, 145, 158),inset 0px 0px 10px 2px rgb(6, 145, 158);


}

.card button:active {
    background-color: rgba(2, 19, 22, 0.675);

}
.signup-form{
    box-shadow: 0px 0px 20px 10px aqua;
    margin-top: 30px;
}

.signup-form fieldset{
    border: 2px none aqua;
    padding: 10px;
}



.signup-form form{
    padding: 10px;
    width: 450px;
    line-height: 30px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.signup-form form input{
    height: 25px;
    background: #130426;
    border: 1px #200542 solid;
    color: rgb(6, 145, 158);
    width: 300px;
}

.signup-form button{
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    /* remove button shading */
    border-style: solid;
    border-color: rgba(174,254,255,255);
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px 2px rgb(6, 145, 158);
    color: rgba(174,254,255,255);
    font-size: 20px;
    font-family: 'orbitron';
    align-self: center;
}