@font-face {
    font-family: 'orbitron';
    font-weight: 500;
    src: url(./fonts/Orbitron-Medium.woff2),
         url(./fonts/Orbitron-Medium.woff);
}
@font-face {
    font-family: 'orbitron';
    font-weight: 900;
    src: url(./fonts/Orbitron-Black.woff2),
         url(./fonts/Orbitron-Black.woff);
}

* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #dfdfdf;
    /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
    display: flex;
    /* same with this*/
    flex-direction: column; 
    background-color: #130426;

    font-family: 'orbitron';
    font-weight: 500;
    font-size: 32px;
}

.pageContent {
    background-color: green;
    width: 20px;
    height: 20px;
}

nav button {
    border-radius: 50px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    /* remove button shading */
    border-style: solid;
    border-color: white;
    background-color: white;
}

nav button:hover {
    background-color: rgb(219, 219, 219);

}

nav button:active {
    background-color: rgb(149, 149, 149);
    border-color: rgb(172, 172, 172);

}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* could add flex 0 0 auto so nav doesnt shrink */
    align-items: center;
}

.push-left{
    grid-area:1/2/2/3;
    z-index: 0; /*adding this fixed my hover on the resturant name not working has something to do with me putting .center and .pushleft in the same grid area*/
}

.center {
    display: flex;
    justify-content: center;
    gap: 10px;
    grid-area: 1/2/2/3;
    background-color: rgba(49,19,48,255);
    padding: 10px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* this makes the rest of the page grow to fill the window*/
    flex: 1 0 auto;
}

.middle-content {
    grid-area: 1 /2/ 2/3;
    background-color: rgba(49,19,48,255);
    color: rgba(174,254,255,255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

}

.burger-image{
    width: 500px;
}

.welcome{
    font-size: 72px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
}
